@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --main-bg-color: black;
}

/* ------------------------------------------------ For Header ----------------------------------------------------- */
.navbar{
  box-shadow: 0 10px 20px rgba(44,62,80,.05);
  margin-bottom: 30px;
}

.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.nav-item{
  color: var(--main-bg-color);
  font-size: 17px;
}


/* ------------------------------------------------ For Products ----------------------------------------------------- */

.card {
  padding: 10px;
  min-height: 340px;
}
.card-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-head img{
  /* display: block;
  margin: auto; */
  width:35%;
  min-height: 150px;
}

.card-head p{
  font-size: 13px;
}


/* for footer */

.brdr {
  display: flex;
  justify-content: center;
}