@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --main-bg-color: black;
}

/* ------------------------------------------------ For Header ----------------------------------------------------- */
.navbar{
  box-shadow: 0 10px 20px rgba(44,62,80,.05);
  margin-bottom: 30px;
}

.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.nav-item{
  color: var(--main-bg-color);
  font-size: 17px;
}


/* ------------------------------------------------ For Products ----------------------------------------------------- */

.card {
  padding: 15px 30px;
  min-height: 390px;
}

.card-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-head img{
  display: block;
  margin: auto;
  width:150px;
  height: 150px;
  min-height: 50px;
}

.card-head p{
  font-size: 13px;
}

.coll-btn{
  width:150px;
}

.coll-btn:focus{
  border: none;
  outline: none;
  
}

.card-down{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
}

/* ------------------- Add cart --------------------- */

.add-cart{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-cart-btn{
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
}

.add-cart-btn:focus{
  border: none;
  outline: none;
  -webkit-box-shadow: none;
}

.add-cart-p{
  margin-top: 15px;
  padding: 5px 10px;
  border: 1px solid #BA8A91;
}


/* ------------------------------------------------ For Products ----------------------------------------------------- */

.brdr {
  display: flex;
  justify-content: center;
}