@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --main-bg-color: black;
  --btn-color: #3454D1;
  --btn-buy-color: #11BF8B;
  --btn-remove : #FF4345;
}

.brdr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-100{
  min-height: 71vh;
}

/* ------------------------------------------------ For Header ----------------------------------------------------- */
.navbar{
  box-shadow: 0 10px 20px rgba(44,62,80,.05);
  margin-bottom: 30px;
}

.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.nav-item{
  color: var(--main-bg-color);
  font-size: 17px;
}


/* ------------------------------------------------ For Products ----------------------------------------------------- */

.product-card{
  padding: 15px 30px;
  min-height: 440px;
  color:  var(--main-bg-color);
}

.card-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-head img{
  display: block;
  margin: auto;
  width:150px;
  height: 150px;
  min-height: 50px;
}

.card-head p{
  font-size: 15px;
}

/* ------------------- Add cart --------------------- */

.add-cart{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-cart-btn{
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
}

.add-cart-btn:focus{
  border: none;
  outline: none;
  -webkit-box-shadow: none;
}

.add-cart-p{
  margin-top: 15px;
  padding: 5px 10px;
  border: 1px solid #BA8A91;
}


/* ------------------------------------------------ For Products ----------------------------------------------------- */

.product-image{
  width:50%;
}

.card-down{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-buy{
  padding: 5px 25px !important;
  background: transparent;
  border: 1px solid var(--btn-color);
  border-radius: 5px;
  color: var(--btn-color);
}

.btn-buy:hover{
  background-color: var(--btn-color);
  color: white;
}

.btn-buy:focus{
  outline: none;
  -webkit-box-shadow: none;
}


/* ------------------------------------------------ For Cart ----------------------------------------------------- */

.cart-card{
  padding: 20px;
}

.cart-image{
  width:30%;
}

.buy-rem{
  display: flex;
  align-items: center;
}

.btn-cart{
  padding: 5px 25px !important;
  background: transparent;
  border: 1px solid var(--btn-buy-color);
  border-radius: 5px;
  color: var(--btn-buy-color);
}

.btn-cart:hover{
  background-color: var(--btn-buy-color);
  color: white;
}

.btn-cart:focus{
  outline: none;
  -webkit-box-shadow: none;
}

.btn-cart-rem{
  padding: 5px 25px !important;
  background: transparent;
  border: 1px solid var(--btn-remove);
  border-radius: 5px;
  color: var(--btn-remove);
}

.btn-cart-rem:hover{
  background-color: var(--btn-remove);
  color: white;
}

.btn-cart-rem:focus{
  outline: none;
  -webkit-box-shadow: none;
}


/* ------------------------------------------------ For Footer ----------------------------------------------------- */
